{% extends 'catalog/base.html' %}

{% block content %}

    <div class="container">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Дата начала</th>
                    <th>Действия</th>
                </tr>
                </thead>

                <tbody>
                {% for object in Email.objects.all() %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ object.subject }}</td>
                        <td>
                            <a href="{% url 'mailing:view' %}" type="button" style="margin-right: 10px"
                               class="btn btn-md btn-w-50 btn-outline-success">Детали</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}