{% extends 'catalog/base.html' %}

{% block content %}

    <div class="container">
        <a href="{% url 'blog:create' %}" type="button"
           class="btn btn-md btn-w-50 btn-outline-primary ">Создать</a>
        <div class="row text-center mt-4">
            <br>
            {% for object in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.title|truncatechars:30 }}</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                                <li>{{ object.body|truncatechars:35 }}</li>
                            </ul>

                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a href="{% url 'blog:detail' object.pk %}" class="btn btn-secondary" role="button">Подробнее</a>
                                <a href="{% url 'blog:edit' object.pk %}" class="btn btn-secondary" role="button">Изменить</a>
                                <a href="{% url 'blog:delete' object.pk %}" class="btn btn-secondary" role="button">Удалить</a>

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}