{% extends 'catalog/base.html' %}

{% block content %}

<div class="container">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
            <h2>Сброс пароля</h2>
            <br>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
            <div class="modal-body py-0">
                <form method="post">
                    {% csrf_token %}
                    <label for="email">Email:</label>
                    <input type="email" name="email" required>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}