{% extends 'catalog/base.html' %}

{% load my_tags %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h4 class="display-4">{{ title }}</h4>
    <p class="lead">{{ sub_title }}</p>
</div>

{% if user.is_authenticated %}
<div class="container">
    <a class="p-2 btn btn-primary align-items-left" style="margin-bottom: 10px"
       href="{% url 'catalog:create_product' %}">Добавить
        продукт</a>
</div>
{% endif %}

<div class="container">
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h6 class="my-0 font-weight-bolt">{{ object.name|truncatechars:24 }}</h6>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-4">
                            <img src="{{ object.image|mediapath }}" style="max-width: 70%">
                        </div>
                        <div class="col-8">
                            {{ object.description|truncatechars:45 }}
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'catalog:product' object.id %}" type="button" style="margin-right: 10px"
                               class="btn btn-sm btn-outline-primary">Подробнее</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'catalog:update_product' object.id %}" type="button" style="margin-right: 10px"
                               class="btn btn-sm btn-outline-info">Изменить</a>
                            {% endif %}
                        </div>
                        <p class="text-sm-left">{% get_current_version object.id %}</p>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}